services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: defects_db
    volumes:
      - ./db-init/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    image: devops/backend:latest
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://user:password@db:5432/defects_db"
      PORT: 3000
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    image: devops/frontend:latest
    restart: always
    ports:
      - "5173:80"

volumes:
  postgres_data:
